    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
    *{
        margin: 0px;
        padding: 0px;
        box-sizing:border-box;
    }
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .screen{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
    }
    .main{
        height: 60vmin;
        width: 100vmin;
        background-color:rgb(47,150,243);
        -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4); 
        box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        padding-left: 3vmin;
        align-items: flex-start;
        justify-content: center;

    }
    .calculator{
        height: 85vmin;
        width: 50vmin;
        background-color: white;
        position: absolute;
        right: 5%;
        top: -25%;
        -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4); 
        box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        
        
    }
    h1{
        text-align: center;
        font-size: 15vmin ;
    }
    p{
        font-size: 3vmin;
    }
    legend{
        color: black;
        margin-top: 20px;
        font-size: 2.5vmin;
    }
    input{
        border: none;
        border-bottom: 2px solid rgb(194, 191, 191);
        height: 15vmin;
        width: 40vmin;
        outline: none;
        font-size: 8vmin;
        padding: 0px;
    }
    .output{
        height: 7vmin;
        width: 40vmin;
        background-color: rgb(47,150,243);
        margin-top: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vmin;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 4px;
    }
    .output:hover{
        scale: 1.1;
    }
    .bmi{
        display: flex;
        color: gray;
        font-size: 8vmin;
        align-items: first baseline;
    }
    #comp_statuses{
        color: white;
        background-color: #3CB721;
        padding: 4px;
        border-radius: 5px;
    }
    #mob_statuses{
        color: white;
        background-color: #3CB721;
        padding: 4px;
        border-radius: 5px;
    }
    #result_text_comp{
        opacity: 0;
    }
    #result_text_mob{
        opacity: 0;
    }
    #mobile_div{
        display: none;
        color: black;
    }


    @media screen and (max-width:780px){
        .screen{
            flex-direction: column;
            align-items:center;
            justify-content: flex-start;
        }
        .main{
            height: 20vmin;
            width: 100%;
            border-radius: 0;
            flex-direction: row;
            align-items:center;
            justify-content: flex-start;
        }
        .calculator{
            bottom: 0%;
            left: 50%;
            transform: translate(-50%,30%);
            height: 120vmin;
            width: 70vmin;
        }
        #computer_div{
            display: none;
        }
        #mobile_div{
            display: block;
        }
        input{
            height: 15vmin;
            width: 60vmin;
        }
        .output{
            height: 10vmin;
            width: 60vmin;
        }
    }